:root {
  --primary-color-700: #323d4d;
  --primary-color-800: #242c37;
  --primary-color-900: #0b0e11;
  --modal-bg: #151a21;
  --button-color: #fd4d4d;
  --general-color: #fff;
  --main-font-family: Roboto;
  --fm: Consolas, "Courier New", monospace;
}

.posts-container {
  /* display: flex; */
  /* width: 100vw;
  height: 100vh; */
  z-index: 0;
  /* align-items: center;
  justify-content: center; */
}

.app-button {
  background-color: var(--button-color);
  border: none;
  font-size: 1.25rem;
  width: fit-content;
  height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.app-button:hover {
  opacity: 0.85;
}

.home-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  column-gap: 60px;
  padding: 200px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
